* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  color: #6a6a6a;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Raleway;
  font-weight: 400;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

._container {
	max-width: 1080px;
	padding: 0px 15px;
	margin: 0 auto;
	box-sizing: content-box;
}

/* --- HEADER -------------------------------------------- */

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 5;
}
.header_top__container {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	background-color: #007bff;
} 

.header_top__menu {
	margin: 0px 0px 0px 450px;
	color: white;
}

.header_top__menu .btn {
	margin-left: 480px;
	width: 170px;
	height: 50px;
	color: black;
	text-shadow: 1px 1px 3px rgb(0 0 0 / 50%);
	box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
   border-radius: 2px;
}
.header_bottom__container {
	display: flex;	
	min-height: 120px;
	align-items: center;
}
@media (max-width: 479px) {
	.header_bottom__container {
		min-height: 90px;
	}
}
.header__logo {
	width: 120px;
	height: 80px;
}
.header__menu {
	margin: 0px 0px 0px 380px;
}

@media (max-width: 992px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
}
@media (max-width: 479px) {
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
}
.menu {
	padding: 5px 0px;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item:not(:last-child) {
	margin: 0px 40px 0px 0px;
}
.menu__link {
	color:#6a6a6a;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
}
@media (max-width: 479px) {
	.menu__link {
		font-size: 18px;
	}
}
